services:
  web:
    build: .
    container_name: meetlink_django_app
    ports:
      - 8000:8000
      - 8001:8001

    volumes:
      - .:/app
      - static_volume:/app/core/staticfiles
      - ./certbot/conf:/app/certbot/conf:ro
      - ./certbot/www:/app/certbot/www:ro

    environment:
      - DEBUG=True
      - PYTHONUNBUFFERED=1
      - DJANGO_SETTINGS_MODULE=core.settings
      - ENV=${ENV}

    networks:
      - meetlink-network

    command:
      - bash
      - -c
      - "python manage.py migrate && python manage.py runserver 0.0.0.0:8000 & -b 0.0.0.0 -p 8001 core.asgi:application"

    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy

  database:
    image: postgres
    container_name: meetlink_django_database
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}

    ports:
      - ${DB_PORT}:5432

    volumes:
      - database_volume:/var/lib/postgresql/data

    networks:
      - meetlink-network

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 10s
      retries: 5

  cache:
    image: redis
    container_name: meetlink_django_cache

    ports:
      - ${CACHE_PORT}:6379

    networks:
      - meetlink-network

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 10s
      retries: 5

  server:
    image: nginx
    container_name: meetlink_django_server

    ports:
      - ${SSL_SERVER_PORT}:443
      - ${SERVER_PORT}:80

    depends_on:
      - web

    networks:
      - meetlink-network

    volumes:
      - ./.nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/var/www/html/static
      - ./certbot/www/:/var/www/certbot:ro
      - ./certbot/conf/:/var/www/conf:ro

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw

    network_mode: host

volumes:
  static_volume:
  database_volume:

networks:
  meetlink-network:
    driver: bridge
