[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
channels = "*"
daphne = "*"
google-apps-meet = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
flake8 = "*"
black = "*"
isort = "*"
pre-commit = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
