asgiref==3.8.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
black==24.10.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
channels==4.2.0
charset-normalizer==3.4.0
click==8.1.7
constantly==23.10.4
cryptography==44.0.0
daphne==4.1.2
distlib==0.3.9
Django==5.1.4
djangorestframework==3.15.2
filelock==3.16.1
flake8==7.1.1
google-api-core==2.23.0
google-apps-meet==0.1.10
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
grpcio==1.68.1
grpcio-status==1.68.1
httplib2==0.22.0
hyperlink==21.0.0
identify==2.6.3
idna==3.10
incremental==24.7.2
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
oauthlib==3.2.2
packaging==24.2
pathspec==0.12.1
pipenv==2024.4.0
platformdirs==4.3.6
pre_commit==4.0.1
proto-plus==1.25.0
protobuf==5.29.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
pyOpenSSL==24.3.0
pyparsing==3.2.0
python-decouple==3.8
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
service-identity==24.2.0
setuptools==75.6.0
sqlparse==0.5.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.28.0
zope.interface==7.2
