{% load static %}
<aside class="sidebar shadow-lg p-12 flex-column align-items-center fixed-top">
    <ul class="d-flex flex-column gap-1 h-100">
        <li class="py-12">
            <a href="/">
                <img class="w-72" src="{% static 'img/natal_shopping_logo_white.jpg' %}"
                    alt="Natal shopping logo ciano" />
            </a>
        </li>
        <li class="d-flex">
            <a class="rounded-2 w-100 h-100 p-3 text-primary-color hover:text-white hover:bg-primary-color {% if request.path == '/dashboard/' %}text-white bg-primary-color{% endif %}"
                href="/dashboard">
                Gestão
            </a>
        </li>
        <li class="d-flex">
            <a class="rounded-2 w-100 h-100 p-3 text-primary-color hover:text-white hover:bg-primary-color {% if request.path == '/calls/' %}text-white bg-primary-color{% endif %}"
                href="/calls/?page=1&per_page=10">
                Histórico de chamadas
            </a>
        </li>
        {% if SHOULD_VIEW_TOTEM_REDIRECT %}
        <li class="d-flex">
            <a class="rounded-2 w-100 h-100 p-3 text-primary-color hover:text-white hover:bg-primary-color {% if request.path == '/totem/' %}text-white bg-primary-color{% endif %}"
                href="/totem">
                Tela do totem
            </a>
        </li>
        {% endif %}
        <li class="d-flex mt-auto">
            <a class="rounded-2 w-100 h-100 p-3 text-primary-color hover:text-white hover:bg-primary-color {% if request.path == '/logout' %}text-white bg-primary-color{% endif %}"
                href="/logout">
                Sair
            </a>
        </li>
    </ul>
</aside>