<!DOCTYPE html>
<html>

<head>
    <title>WebRTC Video Call</title>
</head>

<body>
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
    <button id="startCallButton">Start Call</button>
    <button id="endCallButton">End Call</button>

    <script>
        async function main() {
            const localMediaStream = new MediaStream();
            const websocket = new WebSocket('ws://localhost:8001/ws/meetings');

            const startCallButton = document.getElementById('startCallButton');
            const localVideo = document.getElementById('localVideo');
            const remoteVideo = document.getElementById('remoteVideo');

            let peer;

            startCallButton.addEventListener('click', async () => {
                peer = createPeer();
                localMediaStream.getTracks().forEach(track => {
                    peer.addTrack(track, localMediaStream);
                });

                const offer = await peer.createOffer();
                await peer.setLocalDescription(offer);

                websocket.send(JSON.stringify({ type: 'offer', offer: offer, sender: 'user-1' }));
            });

            try {
                const userMedia = await navigator.mediaDevices.getUserMedia({ audio: true, video: true });
                localVideo.srcObject = userMedia;
                userMedia.getTracks().forEach(track => localMediaStream.addTrack(track));

                websocket.onmessage = async function (event) {
                    const data = JSON.parse(event.data);

                    if (data.type === 'offer') {
                        peer = createPeer();

                        const remoteDesc = new RTCSessionDescription(data.offer);
                        await peer.setRemoteDescription(remoteDesc);

                        const answer = await peer.createAnswer();
                        await peer.setLocalDescription(answer);

                        websocket.send(JSON.stringify({ type: 'answer', answer: answer, sender: 'user-2' }));
                    } else if (data.type === 'answer') {
                        if (peer.signalingState === 'have-local-offer') {
                            const remoteDesc = new RTCSessionDescription(data.answer);
                            await peer.setRemoteDescription(remoteDesc);
                        }
                    } else if (data.type === 'candidate') {
                        const candidate = new RTCIceCandidate(data.candidate);
                        await peer.addIceCandidate(candidate);
                    }
                };
            } catch (e) {
                alert('getUserMedia() error: ' + e.name);
            }

            function createPeer() {
                const peer = new RTCPeerConnection(null);

                peer.onicecandidate = event => {
                    if (event.candidate) {
                        websocket.send(JSON.stringify({ type: 'candidate', candidate: event.candidate, sender: 'user-1' }));
                    }
                };

                peer.ontrack = event => {
                    remoteVideo.srcObject = event.streams[0];
                };

                return peer;
            }
        }

        main()
    </script>
</body>

</html>