{% extends '_base.html' %}

{% block title %}Chamada {{ call.id }} em progresso{% endblock %}

{% load static %}

{% block main %}

<div>
    <div data-js="video-container">
        <video data-js="video-local" autoplay muted class="rounded placeholder"></video>
        <video data-js="video-remote" autoplay muted class="rounded placeholder"></video>
    </div>

    {% if SHOULD_VIEW_FINISH_CALL_BUTTON %}
    <button data-js="video-finish-call-button" class="btn btn-secondary">Finalizar chamada</button>
    <button data-js="video-start-call-button" class="btn btn-primary">Entrar na chamada</button>
    {% endif %}

    <input type="hidden" data-js="user-role" value="{{ user.role }}">
    <input type="hidden" data-js="call-id" value="{{ call.id }}">
</div>

<script src="{% static 'js/call.js' %}"></script>

{% endblock %}