{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Acesse MeetLink - Chamada {{ call.id }} em andamento
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/_base.css' %}" />
</head>

<body class="d-flex w-100 h-100 bg-dark-blue">
    <div class="p-16 w-100">
        <div data-js="video-container" class="video-container d-grid gap-4 mb-4">
            <video data-js="video-local" autoplay muted class="video-item-large rounded placeholder"></video>
        </div>

        <div class="d-flex justify-content-center gap-4">
            <button data-js="video-finish-call-button" class="btn btn-secondary">Finalizar chamada</button>
        </div>

        <input type="hidden" data-js="user-role" value="{{ user.role }}">
        <input type="hidden" data-js="user-id" value="{{ user.id }}">
        <input type="hidden" data-js="call-id" value="{{ call.id }}">
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/call.js' %}"></script>
</body>

</html>