:root {
    --primary-color: #113445;
}

a {
    text-decoration: none;
}

li {
  list-style: none;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta o conteúdo ao tamanho do contêiner */
}

.main {
  padding: 8rem;
  width: 100%;
}

.login__form {
  max-width: 48rem;
}

.sidebar {
  width: 28rem;
  height: 100vh;
}

.w-12 {
  max-width: 3rem;
}

.w-24 {
  max-width: 6rem;
}

.w-48 {
  max-width: 12rem;
}

.w-72 {
  max-width: 18rem;
}

.w-96 {
  max-width: 24rem;
}

.h-100vh {
    height: 60vh;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.p-12 {
  padding: 3rem;
}

.p-16 {
  padding: 4rem;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.hover\:bg-primary-color:hover {
    transition: background-color 100ms ease;
    background-color: var(--primary-color);
}

.hover\:bg-primary-color:hover .hover\:text-white {
    transition: color 100ms ease;
    color: white;
}

.text-primary-color {
    color: var(--primary-color);
}

.text-white {
    color: white;
}

.hover\:text-white:hover {
    transition: color 100ms ease;
    color: var(--primary-color);
}

.disabled\:bg-grey:disabled {
    background-color: #C5C5C5;
}

.bg-dark-blue {
    background-color: #113445;
}

.text-color-dark-blue {
    color: #113445;
}

.text-color-light-grey {
    color: #B6B6B6;
}

@keyframes ring {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }
  }
  
.ring {
animation: ring 1.5s infinite;
border-radius: 50%;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
.spin {
animation: spin 0.8s ease-in-out infinite;
}

.video-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.video-item-large {
    grid-column: 1;
    grid-row: span 2;
}

.video-item {
    grid-column: 2;
    grid-row: auto;
}

.max-h-80vh {
    max-height: 80vh;
}